<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>code-explorer</title>
    <link rel="stylesheet" href="../styles/styles.css" />
    <!-- <script src="https://code.responsivevoice.org/responsivevoice.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/gh/hchiam/language-user-interface@master/ear.js"></script> -->
  </head>
  <body>
    <script src="../public/console.js"></script>
    <script src="../public/shell.js"></script>
    <script src="../public/responsiveVoiceBackup.js"></script>
    <!-- make sure this one's last: -->
    <script src="../public/index.js"></script>
  </body>
</html>
